
.header {
  display: flex;
  gap: 20px;
  font-size: 17px;
  border-bottom: 4px solid white;
  padding: 20px;
}

.link {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 20px;

  & > input {
    padding: 8px;
    border-radius: 8px;
    border-color: white;
    font-size: 15px;
  }
   
  & > button {
    border: transparent;
    background-color: rgb(223, 150, 150);
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 20px;
  & > p {
    margin-block: 0px;
  }
  
}

.confirmBtn, .changeBtn {
  border: transparent;
  background-color: rgb(223, 150, 150);
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  width: 100%;
}

.changeBtn {
  background-color: rgb(136, 203, 136);
}

.confirmBtn:hover {
  color: white;
  background-color: rgb(146, 57, 57);
}